article#editor
script src="//code.createjs.com/createjs-2015.11.26.min.js"
script src='/js/bitmapdata-c.js'
script src='/js/built.js'
link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"